.container {
  max-width: 1440px;
  padding-left: 6.25rem;
  padding-right: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  @include respond(tab-land) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  @include respond(tab-port) {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
.nav {
  display: flex;
  align-items: center;
  margin-top: 3.125rem;
  @include respond(tab-land) {
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    padding-top: 1.875rem;
    background-color: white;
    z-index: 999999;
  }
  @include respond(phone) {
    padding-top: 0.875rem;
  }
  &-logo {
    margin-right: 4.375rem;
  }
  &-links {
    display: flex;
    list-style-type: none;
    @include respond(tab-land) {
      display: none;
    }
    li {
      margin-right: 3.75rem;
      font-weight: 500;
      position: relative;
      svg {
        margin-left: 0.75rem;
      }
    }
    a {
      color: black;
    }
  }
  &-btn {
    margin-left: auto;
    height: 3rem;
    width: 14.625rem;
    background-color: #c08b1d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    border-radius: 3.125rem;
    @include respond(tab-land) {
      display: none;
    }
  }
}
.mobile-nav {
  display: none;
  @include respond(tab-land) {
    display: block;
  }
  &-hamburger {
    cursor: pointer;
    background: none;
    border: none;
    span {
      width: 2.375rem;
      border-top: 2px solid #000;
      display: block;
      margin-bottom: 8px;
      @include respond(phone) {
        width: 1.375rem;
        margin-bottom: 6px;
      }
    }
  }
  &-content-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    height: 40rem;
    transform: translateX(100vw);
    transition: all 0.5s;
    @include respond(phone) {
      transition: all 0.2s;
    }
  }
  &-content {
    background-color: #ffffff;
    padding: 40px 25px 70px 50px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: scroll;
    .social-media {
      @include respond(phone) {
        right: 50%;
      }
    }
    .social-media-hover {
      width: fit-content;
    }
  }
  &-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 1.625rem 1.5625rem 4.0625rem auto;
    @include respond(phone) {
      margin: 0.625rem 0rem 4.0625rem auto;
    }
  }
  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc9c9;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1.25rem 0;
    color: #333333;
  }
  &-dp {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    margin: 11.875rem 0 1.25rem 0;
    text-align: center;
    text-decoration: underline;

    color: #000;
  }
  &-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.625rem;
    height: 2.9375rem;
    margin: 0 auto;
    background-color: #c08b1d;
    border-radius: 3.125rem;
    color: #ffffff;
  }
}
.heading {
  padding-top: 6.25rem;
  overflow: hidden;
  margin-top: 3rem;

  @include respond(tab-port) {
    padding-top: 4.25rem;
  }
  @include respond(phone) {
    padding-top: 3.875rem;
  }
  h1 {
    font-size: 3.4375rem;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 2.75rem;
    }
    @include respond(phone) {
      font-size: 2.1875rem;
    }
  }
  &-subtext {
    // height: 18.75rem;
    // overflow: hidden;
    position: relative;
    display: inline-flex;
    height: 5rem;
    @include respond(tab-port) {
      overflow: hidden;
      // height: 3rem;
    }
    @include respond(phone) {
      height: 3.5rem;
    }
    &-wrapper {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      top: 0;
      transition: all 3s;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 35%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 65%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    span {
      display: inline-flex;
      transition: all 2s ease-in;
      opacity: 0.2;
      &:first-child {
        opacity: 1;
      }
      &:last-child {
        color: #c08b1d;
      }
    }
    &-bg {
      //   background: linear-gradient(
      //     0deg,
      //     rgba(255, 255, 255, 1) 0%,
      //     rgba(255, 255, 255, 0) 35%,
      //     rgba(255, 255, 255, 0) 50%,
      //     rgba(255, 255, 255, 0) 65%,
      //     rgba(255, 255, 255, 1) 100%
      //   );
      position: absolute;
      right: 0;
      top: 0rem;
      height: 120%;
      width: 100%;
      z-index: 99;
    }
  }
  &-secondary {
    max-width: 31.25rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.1875rem;
    margin-top: 3.75rem;
    @include respond(phone) {
      font-size: 1rem;
      line-height: 1.8125rem;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    margin-top: 2.8125rem;
    @include respond(phone) {
      display: block;
      margin-top: 2.5rem;
    }
    &-a {
      height: 3rem;
      width: 13.875rem;
      background-color: #c08b1d;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3.125rem;
      margin-right: 1.5625rem;
      font-size: 0.875rem;
      @include respond(phone) {
        margin-bottom: 2rem;
      }
    }
    p {
      display: flex;
      svg {
        margin-right: 0.625rem;
      }
    }
  }
  &-vid-wrap {
    height: calc(100vh - 124px);
    width: 100vw;
    position: relative;
    // object-fit: cover;
    // top: 10rem;
    h1 {
      font-weight: 800;
      font-size: 4.6875rem;
      line-height: 5.9375rem;
      color: white;
      position: absolute;
      top: 30vh;
      z-index: 2;
      @include respond(tab-port) {
        font-size: 3.6875rem;
        line-height: 4.9375rem;
      }
      @include respond(phone) {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
    }
    a {
      position: absolute;
      display: flex;
      bottom: 1.5rem;
      z-index: 2;
      font-size: 1.875rem;
      line-height: 2.8125rem;
      color: white;
      align-items: center;
      gap: 1.875rem;
      @include respond(phone) {
        font-size: 1.25rem;
        line-height: 2rem;
        gap: 0.5rem;
      }
      svg {
        @include respond(phone) {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
  &-vid-bg {
    position: relative;
    background: linear-gradient(0deg, #817459 0%, rgba(238, 225, 198, 0) 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  &-vid {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    position: absolute;
    // top: 10rem;
  }
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  margin-top: 5.875rem;
  padding-inline: 3.125rem;
  @include respond(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include respond(tab-port) {
    position: relative;
    height: 30rem;
  }
  @include respond(phone) {
    height: 25.875em;
  }
  &-img {
    height: 41rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    @include respond(tab-port) {
      position: absolute;
      width: 100%;
      border-radius: 0;
      height: 30rem;
      top: 0;
    }
    @include respond(phone) {
      height: 25.875em;
    }
    &:first-child {
      margin-top: 6rem;
      @include respond(tab-port) {
        margin-top: 0;
        // opacity: 0;
        animation: blinker-4 8s ease infinite;
      }
    }
    &:nth-child(2) {
      display: none;
      @include respond(tab-port) {
        display: block;
        animation: blinker-3 8s ease infinite;
      }
    }
    &:nth-child(3) {
      display: none;
      @include respond(tab-port) {
        display: block;
        animation: blinker-2 8s ease infinite;
      }
    }
    &:last-child {
      @include respond(tab-port) {
        // display: none;
        animation: blinker 8s ease infinite;
      }
    }
  }
  &-img-2 {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 24.6875rem;
    @include respond(tab-port) {
      display: none;
    }
    &:first-child {
      margin-top: 2.625rem;
      margin-bottom: 4.3125rem;
    }
  }
}

.countdown {
  background-color: rgba(#f8efde, 0.3);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  margin-top: 7.75rem;
  padding: 5.3125rem 13.625rem 1.875rem;
  @include respond(tab-land) {
    padding: 3rem;
  }
  @include respond(tab-port) {
    margin-top: 4.75rem;
  }
  @include respond(phone) {
    padding: 3rem 0rem;
    background-color: rgba(#f8efde, 0.7);
    box-shadow: none;
  }
  &-bg {
    @include respond(phone) {
      background-color: rgba(#f8efde, 0.7);
    }
  }

  &-figures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2rem;
  }
  &-text {
    text-align: center;
    span {
      font-weight: 600;
    }
  }
  &-big {
    font-size: 3.4375rem;
    line-height: 4.0625rem;
    font-weight: 700;
    // 2.1875
    @include respond(phone) {
      font-size: 2.1875rem;
      line-height: 3.25rem;
    }
  }
  &-sm {
    font-size: 1.25rem;
    line-height: 4.0625rem;
    @include respond(phone) {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }
  &-span {
    height: 3.8125rem;
    width: 0.5px;
    background-color: rgba(#333333, 0.3);
  }
}
.stream {
  max-width: 53.1875rem;
  text-align: center;
  margin: 7.8125rem auto 9.375rem auto;
  @include respond(phone) {
    margin: 3.8125rem auto 3.375rem auto;
  }
  h3 {
    font-size: 3.125rem;
    line-height: 4.0625rem;
    font-weight: 700;
    color: #c08b1d;
    margin-bottom: 2.5rem;
    @include respond(tab-port) {
      font-size: 2.125rem;
      line-height: 3.0625rem;
    }
    // @include respond(phone) {
    //   font-size: 0.75rem;
    //   line-height: 1.125rem;
    // }
  }
  a {
    margin: auto;
  }
}
.give {
  background-color: #f8efde;
  background-image: url(/images/give-bg.png);
  background-size: cover;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  padding: 6.25rem 7.5rem 3.4375rem 7.5rem;
  position: relative;
  @include respond(tab-land) {
    padding: 3rem;
  }
  @include respond(phone) {
    padding: 1.5rem;
  }
  &-span {
    position: absolute;
    height: 9.75rem;
    width: 9.75rem;
    background-color: #e6bc65;
    border-radius: 50%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    left: 50%;
    transform: translateX(-50%);
    top: -4.875rem;
    @include respond(tab-land) {
      height: 4rem;
      width: 4em;
      top: -2rem;
    }
  }
  &-primary {
    font-size: 1.875rem;
    line-height: 2.8125rem;
    font-weight: 500;
    max-width: 33.375rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.5rem;
    @include respond(tab-land) {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
  &-link {
    width: 12.25rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c08b1d;
    border-radius: 50px;
    margin: 0 auto;
    color: #c08b1d;
  }
  &-secondary {
    font-size: 0.875rem;
    letter-spacing: 6.56px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.8125rem;
  }
  &-details {
    margin-top: 2.5rem;
    display: flex;
    column-gap: 4.875rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    strong {
      margin-bottom: 1rem;
      display: block;
      text-transform: uppercase;
    }
  }
}
.faith {
  img {
    width: 100%;
  }
  &-text {
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 4.0625rem;
    max-width: 39.375rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 4.375rem;
    color: #c08b1d;
    @include respond(tab-land) {
      font-size: 2.125rem;
      line-height: 3.0625rem;
    }
  }
}
.register {
  max-width: 46.25rem;
  margin: 7.5rem auto 9.375rem auto;
  text-align: center;
  @include respond(tab-port) {
    display: none;
  }
  h3 {
    font-size: 3.125rem;
    line-height: 4.0625rem;
    font-weight: 700;
    color: #c08b1d;
    margin-bottom: 2.5rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 2.1875rem;
    margin-bottom: 3.125rem;
  }
  a {
    margin: auto;
  }
}
.theme {
  @include respond(tab-port) {
    margin-top: 5rem;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 3.3125rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
      text-align: center;
    }
  }
  &-title {
    max-width: 34.625rem;
    text-align: center;
    margin: 0 auto;
  }
  &-wrapper {
    margin: 5.3125rem auto 0 auto;
    display: flex;
    align-items: center;
    max-width: 68.0625rem;
    @include respond(tab-land) {
      flex-direction: column;
    }
    @include respond(tab-port) {
      margin: 3.3125rem auto 0 auto;
    }
    img {
      margin-right: 3.4375rem;
      border-radius: 10px;
      animation: MoveUpDown 2s ease-in-out infinite;
      @include respond(tab-land) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
    h3 {
      color: #c08b1d;
      margin-bottom: 2.1875rem;
    }
    p {
      font-size: 1.25rem;
      line-height: 2.1875rem;
      a {
        font-weight: 500;
        color: black;
        text-decoration: underline;
        &:hover {
          color: #c08b1d;
        }
      }
    }
  }
}
.dp {
  margin-top: 8.125rem;
  padding: 3.25rem;
  background-color: #f8efde;
  display: flex;
  align-items: center;
  @include respond(tab-land) {
    flex-direction: column-reverse;
  }
  @include respond(phone) {
    padding: 2rem 1rem;
  }
  p {
    font-size: 2.1875rem;
    line-height: 3.3125rem;
    font-weight: 700;
    margin-bottom: 3.125rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
      text-align: center;
    }
  }
  a {
    @include respond(phone) {
      margin: 0 auto;
    }
  }
  img {
    margin-left: 7.625rem;
    width: 25.6875rem;
    animation: MoveDownUp 2s ease-in-out infinite;
    @include respond(tab-land) {
      margin-left: 0;
      margin-bottom: 3rem;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
}
.previous-themes {
  margin-top: 7.5rem;
  &-heading {
    font-size: 2.5rem;
    line-height: 3.3125rem;
    text-align: center;
    font-weight: 700;
    max-width: 44rem;
    margin: 0 auto;
    color: #c08b1d;
    padding: 0 1rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
      padding: 0;
    }
  }
  &-wrapper {
    display: flex;
    column-gap: 3rem;
    margin-top: 4.375rem;
    overflow-x: hidden;
    @include respond(phone) {
      column-gap: 1rem;
    }
    img {
      border-radius: 6px 6px 0 0;
      height: 19rem;
      width: 23.125rem;
      object-fit: cover;
      @include respond(phone) {
        height: 13.125rem;
        width: 70vw;
      }
    }
  }
  &-textbox {
    background-color: #f8f7f7;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 0 1.875rem;
    margin-top: -0.5rem;
    border-radius: 0 0 6px 6px;
    height: 7.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond(phone) {
      width: 70vw;
    }
    &-primary {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.875rem;
    }
    &-secondary {
      font-size: 0.9375rem;
      font-weight: 300;
      line-height: 1.40625rem;
    }
  }
}
.faq {
  margin-top: 11.25rem;
  @include respond(phone) {
    margin-top: 7.25rem;
  }
  h3 {
    color: black;
    margin-bottom: 3.125rem;
  }
  &-item {
    margin-bottom: 5px;
  }
  &-button {
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding: 1.25rem 3.4375rem 1.25rem 5.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @include respond(tab-port) {
      padding: 1rem 2rem;
    }
    @include respond(phone) {
      padding: 1rem 0.5rem;
      text-align: left;
      font-size: 0.8125rem;
      line-height: 1.21875rem;
      // background-color: transparent;
      border-bottom: 1px solid #e3d6d6;
    }
    svg {
      @include respond(phone) {
        height: 4px;
      }
    }
  }
  &-content {
    font-size: 1.125rem;
    line-height: 1.875rem;
    padding: 0 3.4375rem 0 5.9375rem;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    @include respond(tab-port) {
      padding: 0 2rem;
    }
    @include respond(phone) {
      padding: 0 0.5rem;
      font-size: 0.75rem;
      line-height: 1.5rem;
    }
  }
}
.video {
  margin-top: 9.6875rem;
  @include respond(phone) {
    margin-top: 4.6875rem;
  }
  &-subtext {
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.5625rem;
    max-width: 26.6875rem;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #785f2a;
    margin-top: 3.5625rem;
    @include respond(tab-port) {
      // position: sticky;
      top: 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &-img-wrapper {
    @include respond(tab-port) {
      position: sticky;
      top: 5rem;
    }
  }
  &-img {
    position: relative;
    transition: all 0.2s;
    position: sticky;
    top: 0;
    display: none;
    cursor: pointer;
    &:first-child {
      display: block;
    }
    img {
      height: 100vh;
      min-height: 37.5rem;
      width: 100%;
      object-fit: cover;
      @include respond(tab-port) {
        height: 47vh;
        min-height: 20rem;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }
  &-text {
    max-width: 31rem;
    margin: auto;
    height: 100vh;
    min-height: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond(tab-port) {
      height: 50vh;
      min-height: 20rem;
      max-width: 90%;
    }
  }
  &-primary {
    color: #a58543;
    font-size: 3.4375rem;
    line-height: 4.25rem;
    span {
      color: white;
      font-weight: 700;
    }
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
    }
  }
  &-secondary {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.0625rem;
    color: white;
    @include respond(phone) {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
  }
  &-footer {
    background-color: #785f2a;
    padding-bottom: 4.5625rem;
    h4 {
      max-width: 43.3125rem;
      font-size: 3.125rem;
      line-height: 3.9375rem;
      font-weight: 500;
      color: white;
      text-align: center;
      padding-top: 7.1875rem;
      margin: 0 auto 0 auto;
      @include respond(phone) {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
      }
    }
    a {
      margin: 3.125rem auto 0;
      background-color: white;
      color: black;
      @include respond(tab-land) {
        display: flex;
      }
    }
  }
}
.fs {
  margin-top: 6.5625rem;
  background-color: #f8efde;
  display: flex;
  justify-content: space-between;
  padding: 6.25rem 3.125rem 0;
  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
  }
  @include respond(tab-port) {
    margin-top: 6.75rem;
    padding: 3.25rem 3.125rem 0;
  }
  @include respond(phone) {
    padding: 1rem 1rem 0;
    margin-top: 1.5rem;
  }
  h4 {
    font-size: 2.1875rem;
    line-height: 3rem;
    font-weight: 700;
    // margin-bottom: 5rem;
    max-width: 31.5625rem;
    @include respond(tab-land) {
      text-align: center;
    }
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
    }
    span {
      color: #c08b1d;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 2.1875rem;
    max-width: 24rem;
    margin: 1.25rem 0 2.5rem 0;
    @include respond(tab-land) {
      text-align: center;
      margin: 1.25rem auto 2.5rem auto;
    }
  }
  &-img {
    margin-left: 2rem;
    @include respond(tab-land) {
      margin-left: 0;
      // margin-bottom: 2rem;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  &-link-wrap {
    margin-bottom: 2rem;
    @include respond(tab-land) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-link {
    margin-right: 2.875rem;
    display: inline-block;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinker-2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinker-3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinker-4 {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.footnote {
  margin: 0 auto;
  margin-top: 9.375rem;
  max-width: 39rem;
  text-align: center;
  @include respond(phone) {
    margin-top: 4.375rem;
  }
  h4 {
    font-size: 3.125rem;
    line-height: 3.9375rem;
    color: #c08b1d;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.125rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
    }
  }
  a {
    margin: 0 auto;
    margin-bottom: 1.875rem;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 0.875rem;
    }
  }
}
.footer {
  background-color: #c08b1d;
  color: white;
  padding-top: 2.75rem;
  padding-bottom: 2.25rem;
  text-align: center;
  margin-top: 9.1875rem;
  font-size: 1.25rem;
  @include respond(phone) {
    font-size: 0.5rem;
    line-height: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4.8125rem;
  }
}

// Styling
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 25s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-270px * 7));
  }
}

// Styling
.slider {
  // background: white;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  // height: 100px;
  // margin: auto;
  overflow: hidden;
  position: relative;
  // width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    // height: 100px;
    position: absolute;
    // width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(240px * 14);
    &:hover {
      animation-play-state: paused;
    }
  }
}
.social-media {
  position: absolute;
  right: 3rem;
  // top: 3rem;
  padding: 1.875rem;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: all 0.3s;
  width: fit-content;
  @include respond(phone) {
    padding: 0.875rem;
  }
  .line {
    height: 66px;
    border-left: 0.5px solid #333333;
    margin: auto;
  }
  a {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    white-space: nowrap;
    &:last-child {
      margin-bottom: 0;
    }
    svg {
      margin-right: 0.5rem;
      margin-left: 0;
    }
    img {
      margin-right: 0.5rem;
      margin-left: 0;
    }
  }
  div {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    &:first-child {
      margin-right: 3.375rem;
      @include respond(phone) {
        margin-right: 1.375rem;
      }
    }
    &:last-child {
      margin-left: 3.375rem;
      @include respond(phone) {
        margin-left: 1.375rem;
      }
    }
  }
}
.follow-becon:hover {
  cursor: pointer;
  .social-media {
    z-index: 9;
    opacity: 1;
    right: 0rem;
    visibility: visible;
  }
}
.social-media-hover {
  z-index: 9;
  opacity: 1;
  right: 0rem;
  visibility: visible;
  @include respond(phone) {
    right: 50%;
    transform: translateX(50%);
  }
}
.iframe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#333333, 0.8);
  left: 0;
  top: 0;
  transition: all 0.3s;
  // display: none;
  &-inner {
    height: 100vh;
    width: 100vw;
  }
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(phone) {
      width: 90%;
    }
  }
}
.hidden {
  display: none !important;
}
.block {
  display: block;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes MoveDownUp {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.minister-invite {
  max-width: 25.625rem;
  @include respond(tab-land) {
    max-width: unset;
  }
}
